<ion-content class="ion-text-center ">
  <div class="back-container">
    <img src="assets/imgs/signup/back.png" alt="" (click)="back()">

  </div>


  <div>
    <img class="logo" src="assets/imgs/login/logo.png" alt="">
  </div>
  <div class="container">
    <div class="ion-text-center inputs_container">

      <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
    </div>
  </div>
  <div class="button_container">
    <ion-button class="singup" expand="full" shape="round" (click)="reset()">Reset my password</ion-button>

  </div>
  <div class="footer">
    <span>Check your inbox for
      password reseting email
    </span>


  </div>
</ion-content>