ion-content {
    --background: var(--page-background)
}

div {
    margin-top: -5vh;

    .logo {
        width: 30%;

    }
}

.singup {
    --background: linear-gradient(235deg, #08d3ff 0%, #178DD5 0%, #FF62A5 100%);
    margin-top: 5vh;
    height: 7vh;

}

.inputs_container {

    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 3vh;

}

ion-input {
    background: white;
    height: 7vh;
    border-radius: 25px;
}

.button_container {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 1vh;

}


.container {
    margin-top: 10vh;

}



.footer {
    margin-top: 5vh;
    padding-left: 20vw;
    padding-right: 20vw;
    color: #9B9B9B;


}

.back-container {
    margin-top: 0;

    img {
        width: 35px;
        display: flex;
        margin: 6vw;
    }

}