.top-grid {
    height: 12vh;
    background: #178DD5;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.back-container {

    img {
        width: 30px;
        margin-left: 1vw;
    }

}

.title-row {
    margin-top: 2vh;
}

.title {
    span {
        font-size: 1.8em;
        color: white;
        font-weight: bold;

    }
}